pytest
pytest-playwright
playwright
allure-pytest
pytest-html
 #открываем терминал в PyCharm в контексте .venv
 pip install --upgrade pip
pip install -r requirements.txt
python -m playwright install
#проверяем установку
python -m pytest --version
python -m playwright --version
 #запуск тестов
 python -m pytest tests/test_login.py --alluredir=allure-results